body{
background-color: lightblue;
}
h3{
	border-style: ridge;
	background-color: tomato;
	text-align: center;
	color: black;
	font-style: bold;
}
label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=text]{
	width: 15%;

}
	
h5{
	color: red;
}

select option:hover{
	background-color: orange;
	border:none;
}
button[type=button]{
	cursor: pointer;
	border:1px solid;

}
button[type=button]:hover{
	background-color: green;

}
