body{

	background-image: url("/home/qwinix/shree/CSS work/523159398.jpg")

}
ul {

    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: grey;
}
li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    }
    a:home{
    	color:red;
    }